human_detection/output
examples/results
examples/res
PoseFlow/__pycache__
PoseFlow/*.npy
PoseFlow/alpha-pose-results-test.json
PoseFlow/alpha-pose-results-val.json
PoseFlow/test-predict
PoseFlow/val-predict
ssd/examples
examples
data
.tensorboard

*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/
*.tmp

*.pth
*.json
*.h5
*.zip
*.weights

tmp.*

coco-minival/

train_sppe/exp
src

*.html
*.list
*.sublime-project
*.sublime-workspace
nohup.*
